In [1]:
import pandas as pd #to load dataset into a 2D array used by sklearn
import seaborn as seaBorn #plot library
import matplotlib.pyplot as plt #plot library
from sklearn.ensemble import RandomForestClassifier #random forest classifer
from sklearn import svm #support vector classsifer

 
from sklearn.metrics import accuracy_score, classification_report #import evaluaiton metrics
from sklearn.preprocessing import StandardScaler #input data preprocessing
from sklearn.tree import DecisionTreeClassifier
#add the following only if we use jupyter notebook
%matplotlib inline

Load Data From CSV File

In [2]:
data_train=pd.read_csv('ds1Train.csv',header=None,sep=',')
data_test=pd.read_csv('ds1Val.csv', header=None, sep=',')

In [3]:
#data_train.head()
data_test.head()

,0,1,2,3,4,5,6,7,8,9,...,1015,1016,1017,1018,1019,1020,1021,1022,1023,1024
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,34
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,35
2,1,1,1,1,1,1,0,0,1,1,...,1,1,1,1,1,1,1,1,1,43
3,1,1,1,1,1,1,0,0,0,0,...,0,0,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,37

In [4]:
print(data_train[7][0]) #access like data_train[col][row]
data_train.info()
data_train.isnull().sum()
data_train[1024].value_counts()

0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1960 entries, 0 to 1959
Columns: 1025 entries, 0 to 1024
dtypes: int64(1025)
memory usage: 15.3 MB

0     45
11    45
26    45
17    45
14    45
13    45
12    45
10    45
9     45
8     45
6     45
2     45
15    44
42    42
16    41
28    41
31    40
48    40
7     39
25    39
30    38
18    38
46    38
40    38
22    38
1     37
43    37
39    37
44    36
34    36
50    36
20    36
49    35
3     35
27    35
45    35
33    35
36    35
38    35
29    35
24    34
37    34
5     34
21    34
47    34
32    34
19    34
23    33
41    33
4     33
35    32
Name: 1024, dtype: int64

In [5]:
#visualize the test data
data_test.info()
#data_test.isnull().sum()
#data_test[1024].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 514 entries, 0 to 513
Columns: 1025 entries, 0 to 1024
dtypes: int64(1025)
memory usage: 4.0 MB

In [6]:
#now split the training data into features and labels
x_train=data_train.drop(1024, axis=1) #take columns from 0..1023 as features
y_train=data_train[1024] #take last column 1024 as a label
x_train.head()
y_train.head()

0    24
1    49
2    24
3    23
4    48
Name: 1024, dtype: int64

In [7]:
#now split the test data into features and labels
x_test=data_test.drop(1024, axis=1) #take columns from 0..1023 as features
y_test=data_test[1024] #take last column 1024 as a label
#x_test.head()
y_test.head()

0    34
1    35
2    43
3     1
4    37
Name: 1024, dtype: int64

In [17]:
#train the model
#rfc=RandomForestClassifier(n_estimators=500) #init random forest classifeir
svccl=svm.SVC(kernel='poly',gamma=2, C=5 , degree=2)

#svccl= DecisionTreeClassifier(random_state=0)
svccl.fit(x_train, y_train) #tarin rfc with training data
#test the model using test data
svc_pred=svccl.predict(x_test)
score=accuracy_score(y_test,svc_pred)
print(score)
print(classification_report(y_test,svc_pred))

0.688715953307393
              precision    recall  f1-score   support

           0       0.77      0.83      0.80        12
           1       0.58      0.70      0.64        10
           2       0.50      0.33      0.40        12
           3       0.55      0.67      0.60         9
           4       0.75      1.00      0.86         9
           5       0.56      0.56      0.56         9
           6       0.83      0.83      0.83        12
           7       0.69      0.90      0.78        10
           8       0.64      0.58      0.61        12
           9       0.89      0.67      0.76        12
          10       1.00      0.92      0.96        12
          11       1.00      0.92      0.96        12
          12       0.77      0.83      0.80        12
          13       1.00      0.92      0.96        12
          14       0.50      0.67      0.57        12
          15       0.75      0.55      0.63        11
          16       0.91      0.91      0.91        11
          17       1.00      0.83      0.91        12
          18       0.42      0.50      0.45        10
          19       0.80      0.89      0.84         9
          20       0.78      0.78      0.78         9
          21       0.55      0.67      0.60         9
          22       0.67      0.60      0.63        10
          23       0.62      0.56      0.59         9
          24       0.88      0.78      0.82         9
          25       0.53      0.80      0.64        10
          26       0.78      0.58      0.67        12
          27       0.75      1.00      0.86         9
          28       0.47      0.73      0.57        11
          29       0.73      0.89      0.80         9
          30       1.00      0.70      0.82        10
          31       0.88      0.70      0.78        10
          32       0.75      0.33      0.46         9
          33       0.80      0.44      0.57         9
          34       1.00      1.00      1.00         9
          35       0.88      0.88      0.88         8
          36       0.58      0.78      0.67         9
          37       0.42      0.56      0.48         9
          38       0.67      0.67      0.67         9
          39       0.71      0.50      0.59        10
          40       0.33      0.30      0.32        10
          41       0.64      0.78      0.70         9
          42       0.77      0.91      0.83        11
          43       0.60      0.60      0.60        10
          44       0.38      0.33      0.35         9
          45       0.67      0.44      0.53         9
          46       0.67      0.60      0.63        10
          47       0.55      0.67      0.60         9
          48       0.54      0.70      0.61        10
          49       0.62      0.56      0.59         9
          50       0.33      0.11      0.17         9

   micro avg       0.69      0.69      0.69       514
   macro avg       0.69      0.68      0.68       514
weighted avg       0.70      0.69      0.68       514